* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 1435px;
    height: 745px;
    background-image: url(assets/background\ image.jpg);
    background-size: cover;
}

.top-page {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
}

.logo {
    display: flex;
    height: auto;
    margin-left: 75px;
}

.logo > img {
    max-width: 117px;
}

.container-menu-sign {
    margin-top: 20px;
    border: 1px solid red;
    display: flex;
}

.menu {
    margin-right: 550px;
}

.button {
    margin-right: 20px;
}

.menu > li,
.span {
    display: inline;
    margin-right: 20px;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.home-menu {
    position: relative;
}


